#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-rows: 20fr 80fr;
    grid-template-areas: 
    "top"
    "cards";
}





.cards {
    grid-area: cards;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.card {
    width: 280px;
    height: 320px;
    border: 3px solid teal;
   
}

.card img {
    max-height: 275px;
    max-width: 275px;
    object-fit: cover;
}

.top-container {
    grid-area: top;
}